.search-wrapper{
	text-align: center;

}
.search-wrapper input{
	 width: 500px;
	 height: 50px;
	 border:1px solid white;
	 outline: none;
	 padding:10px 15px;
	 margin:auto;
	 border-radius:10px;
	 font-size:17px;

}

.search-wrapper input::placeholder{
	font-size:17px;
}